/ {
    chosen {
        zephyr,code-partition = &slot0_partition;
        zephyr,uart-mcumgr = &uart0;
    };
    
	aliases {
        led0 = &led0;
        led3 = &led0;
	};

	leds {
		compatible = "gpio-leds";
		led0: led_0 {
			gpios = <&gpio0 2 GPIO_ACTIVE_HIGH>;
			label = "LED 0";
		};
	};
};